extends _base.pug

block menu
  li
    a(href='#') A link

block body
  .container
    .row
      .col-xs-12.col-md-6.qvplaceholder [Stick stuff here]
      .col-xs-12.col-md-6.qvplaceholder [Stick stuff here]
