$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$web-font-path: '~source-sans-pro/source-sans-pro.css';

@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootswatch/lumen/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootswatch/lumen/bootswatch';

body { 
  padding-top: 70px; 
}

a {
  cursor: pointer;
}

.navbar {
  border-radius: 0;

  .navbar-brand {
    padding: 10px 15px;

    .glyphicon {
      font-size: 30px;
    }
  }
}
