$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$web-font-path: '~source-sans-pro/source-sans-pro.css';

@import '~bootswatch/lumen/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootswatch/lumen/bootswatch';

body { 
  padding-top: 70px; 
}

a {
  cursor: pointer;
}
